.Register-Form{
    margin-top: 8rem;
    height: 18rem;
    background-color: #e5e5e5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 21rem;
    font-size: 2rem;
}
Input{
    font-size: small;
}
.Header h4{
    font-size:x-large;
    font-weight: bolder;
}
.container{
    margin-top: 7rem;
}
.Submit{
    height: 1rem;
}
.error{
    font-size: small;
}