.ShowMessage{
    position: fixed;
    left: 50%;
    top: 5%;
    height: 3rem;
    transform: translate(-50%,-50%);
    background-color: #00F593;
    max-width: 20rem;
    
}
.ShowError{
    position: fixed;
    left: 50%;
    top: 5%;
    height: 3rem;
    transform: translate(-50%,-50%);
    background-color: red;
    max-width: 20rem;
    
}
.show{
    display: flex;
    align-items: center;
    
}
.message{
    flex: 20%;
    font-size: larger;
    font-weight: 600;
    color: aliceblue;
}
#SHOWIT{
    visibility: visible;
    animation: fadeIn 0.5s ,fadeOut 0.5s 4.5s;
}
#HIDDEN{
    visibility: hidden;
}
@keyframes fadeIn{
    from {
        bottom: 0;
        opacity: 0;
    }
    to{
        bottom: 4rem;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 4rem;
        opacity: 1;
    }
    to{
        bottom: 0;
        opacity: 0;
    }
}